<div class="row toolbar">
  <div class="col-md-12">
    <p class="pull-right">
      <span class="badge badge">{{ allRead() }}</span>
      unread messages
    </p>

    <a class="btn btn-danger">
      <i class="fa fa-plus"></i>
    </a>

    <button class="btn btn-default">
      <i class="{{ changeButton() }}" (click)="onSelect()"></i>
    </button>

    <button (click)="displayRead()" class="btn btn-default">
      Mark As Read
    </button>

    <button (click)="displayUnread()" class="btn btn-default">
      Mark As Unread
    </button>

    <select (change)="addLabel($event.target.value)" class="form-control label-select">
      <option>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select (change)="deleteLabel($event.target.value)" class="form-control label-select">
      <option>Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default">
      <i (click)="deleteMessage()"class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
